<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AgecyConnection" providerName="System.Data.SqlClient" connectionString="Server=(LocalDb)\v11.0;Database=AgencyDB;Integrated Security=True;"/>
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>

  </entityFramework>
  <userSettings>
    <UI.Properties.Settings>
      <setting name="oRGNIZATIONnAME" serializeAs="String">
        <value>SHARMA-AGENCIES</value>
      </setting>
      <setting name="GSTN" serializeAs="String">
        <value>09ADIFS6223L1ZM</value>
      </setting>
      <setting name="aDDRESS" serializeAs="String">
        <value>Sarnath-Varanasi(221007)</value>
      </setting>
      <setting name="fULLaDDRESS" serializeAs="String">
        <value>Behind Korean Temple,Harsh Nagar Colony</value>
      </setting>
      <setting name="fINANCIALyEAR" serializeAs="String">
        <value>2020</value>
      </setting>
      <setting name="rECEIPTnO" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="rECEIPTsIZE" serializeAs="String">
        <value>500, 700</value>
      </setting>
    </UI.Properties.Settings>
  </userSettings>
</configuration>